In [1]:
import pandas as pd
import json

#I decided to use Option 2 although I did complete both Option 1 and Option 2 for Deliverable 1

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet.
#pd.set_option('max_colwidth', 400)
#backers_info_df = pd.read_csv('backer_info.csv')
#backers_info_df.head()

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
#dict_values = []
#for i, row in backers_info_df.iterrows():
#    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
#    #converted_data.items()]
#    r_values = [v for k,v in json.loads(row['backer_info']).items()]
#    # Append the list of values for each row to a list. 
#    dict_values.append(r_values)

## Print out the list of values for each row.
#print(dict_values)

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
#backers_df = pd.DataFrame(dict_values, columns=['backer_id','cf_id','name','email'])
#backers_df.head()

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.
#backers_df.to_csv('backers_data.csv',encoding='utf8',index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [6]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info_df2 = pd.read_csv('backer_info.csv')
backers_info_df2.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [7]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
import re
#backers_info_df2['backer_id'] = backers_info_df2['backer_info'].str.extract(r'"backer_id":\s+"(\w+)"')
backers_info_df2['backer_id'] = backers_info_df2['backer_info'].str.extract(r'[^email]"([A-Za-z0-9]{5,})"')
#backers_info_df2.info()
backers_info_df2.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_info_df2['cf_id'] = backers_info_df2['backer_info'].str.extract(r'\s(\d{2,4}),')
#backers_info_df2.head()
backers_info_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
 1   backer_id    8175 non-null   object
 2   cf_id        8175 non-null   object
dtypes: object(3)
memory usage: 191.7+ KB

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_info_df2['name'] = backers_info_df2['backer_info'].str.extract(r'"([A-Za-z]+\s+[A-Za-z]+)"')
backers_info_df2.head()

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_info_df2['email'] = backers_info_df2['backer_info'].str.extract(r'"(\S+\.\w+)"')
backers_info_df2.head()

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com

In [11]:
# Create a new DataFrame with the appropriate columns.
backers2_df = backers_info_df2[['backer_id','cf_id','name','email']]
backers2_df.head()

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers2_df.to_csv('backers_data.csv',encoding='utf8',index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types
backers2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [14]:
# Convert cf_id to an integer if necessary.
#backers2_df['cf_id'] = pd.to_numeric(backers2_df.loc[:,'cf_id'])
backers2_df['cf_id'] = backers2_df['cf_id'].astype(int)
backers2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

/var/folders/rv/5rqd8yks0h175jz49yj33_r80000gn/T/ipykernel_20632/697293066.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  backers2_df['cf_id'] = backers2_df['cf_id'].astype(int)

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.
backers2_df[['first_name','last_name']] = backers2_df['name'].str.split(' ',n=1, expand = True)
backers2_df.head()

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt

In [16]:
#  Drop the name column
backers_final_df = backers2_df.copy()
backers_final_df = backers_final_df.drop('name',axis=1)
#backers_final_df.head()

# Reorder the columns
backers_final_df = backers_final_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]
backers_final_df.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_final_df.to_csv('backers.csv',encoding='utf8',index=False)